*{
    margin: 0;
    padding: 0;
    font-family: 'Arvo', sans-serif;
    box-sizing: border-box;
}
body {
    background: #080808;
    color: #fff;
}
.container{
    padding:10px 10%;
}
.custom-font {
    font-family:  'Pacifico', cursive;
}
.custom-font-1 {
    font-family:  'Poppins', cursive; 
    font-weight: bold
}
.custom-font-nav {
    font-family:  'Arvo', cursive;
    font-weight: bold;
    font-size: 20px;
}
.custom-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #262626;
}
.custom-h1 {
    text-align: center;
    font-family: 'Arvo';
    font-size: 30px;
}
.custom-border {
    border-color: #fff;
}
.custom-font-head {
    font-family: 'Poppins';
    font-size: 30px;
    color: #ff004f;
}
.custom-font-otp {
    text-align: center;
    font-family: 'Poppins';
    font-size: 50px;
}
.custom-font-p {
    font-family:  'Pacifico', cursive;
    font-size: 30px;
}
.copyright{
    width: 100%;
    text-align: center;
    background: #262626;
    font-weight: 300;
    margin-top: 114px;
}
.navbar-nav a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
.navbar-nav a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.navbar-nav a:hover::after{
    width: 100%;
}
#login{
    color: #fff;
}
#signup{
    color: #fff;
}
#logout{
    color: #fff;
}
#headtitle{
    color: #fff;
}
.navbar-brand span{
    background: linear-gradient(to right, #fff, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: none;
}
.btn{
    display: block;
    margin: 0px auto;
    width: auto;
    border: 1px solid #ff004f;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}
.new a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
.new a:hover{
    color: red;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}